<div class="cover-container">
  <div class="inner cover">
    <h1 class="cover-heading">Easier For Everyone.</h1>
    <p class="lead">Split your check.</p>
    <p class="lead">
      <%= link_to 'Split it now!', new_check_path, class: "btn btn-lg btn-default" %>
    </p>
  </div>

</div>
