// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cover-heading {
  margin-top: 150px;
  margin-bottom: 100px;
}

.cover {
  text-align: center;
}
