<!DOCTYPE html>
<html>
<head>
  <title>CheckSplitter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">

  <div class="masthead clearfix">
    <div class="inner">
      <h3 class="masthead-brand">Check Splitter</h3>
    </div>
  </div>

  <%= yield %>

</div>

</body>
</html>
